p_conflict_resistance_layer.tif
grizz_dens_soi.tif
BC CCS.dbf
BC CCS.prj
BC CCS.shp
BC CCS.shx
ONA Animal Product Farming.dbf
ONA Animal Product Farming.prj
ONA Animal Product Farming.shp
ONA Animal Product Farming.shx
ONA Ground Crop Production.dbf
ONA Ground Crop Production.prj
ONA Ground Crop Production.shp
ONA Ground Crop Production.shx
ona_bound.tif
Extent Grizzly Pop Units.shx
Extent Grizzly Pop Units.shp
Extent Grizzly Pop Units.prj
Extent Grizzly Pop Units.dbf
ona_PAs.dbf
ona_PAs.prj
ona_PAs.shp
ona_PAs.shx
animal_production_ona_raster.tif
dist2grizz_pop_ona.tif
dist2pa_ona.tif
ground_crop_ona_raster.tif
bhs_ona.tif
grizz_inc_ona.tif
griz_ext.tif
biophys_hii_resist.tif
bio_combined_hii_resist.tif
bio_combined_hmi_resist.tif
bio_combined_resist.tif
biophys_hmi_resist.tif
grizz_inc_comb.tif
hii_resist.tif
hmi_resist.tif
griz_source.tif
biophys_ona.tif
biophys_normalized_ona.tif
CCS_varint_raster_co.tif
ONA Census Districts.dbf
ONA Census Districts.prj
ONA Census Districts.shp
ONA Census Districts.shx
ona_p_bear_conf.tif
biophys_resist.tif
biophys_social_resist.tif
social_biophys_normalized_ona.tif
p_conflict_normalized_ona.tif
Extant Grizzly Pop Units.dbf
Extant Grizzly Pop Units.prj
Extant Grizzly Pop Units.shp
Extant Grizzly Pop Units.shx
ona_buf_bound.tif
ona_buffer_bound.shx
ona_buffer_bound.shp
ona_buffer_bound.prj
ona_buffer_bound.dbf
grizz_dens_mean.tif
biophys_normalized_ona.tif.aux.xml
p_conflict_normalized_ona.tif.aux.xml
social_biophys_normalized_ona.tif.aux.xml
biophys_zoom.tif
okanagan_census_crop.dbf
okanagan_census_crop.prj
okanagan_census_crop.shp
okanagan_census_crop.shx
p_conflict_zoom.tif
social_biophys_zoom.tif
biophys_zoom.tif.aux.xml
p_conflict_zoom.tif.aux.xml
social_biophys_zoom.tif.aux.xml
griz_rescale_resist.tif
rough_rescale.tif
biophys_cum_current_ona.tif
p_conflict_raw_sum.tif
biophys_cum_current_ona.tif.aux.xml
ona_lakes.dbf
ona_lakes.prj
ona_lakes.shp
ona_lakes.shx
ona_lakes_avg_resist.dbf
ona_lakes_avg_resist.prj
ona_lakes_avg_resist.shp
ona_lakes_avg_resist.shx
ona_lakes_female_resist.dbf
ona_lakes_female_resist.prj
ona_lakes_female_resist.shp
ona_lakes_female_resist.shx
ona_lakes_male_resist.dbf
ona_lakes_male_resist.prj
ona_lakes_male_resist.shp
ona_lakes_male_resist.shx
p_conf_cum_current_ona.tif
p_conf_cum_current_ona.tif.aux.xml
bc_bound.dbf
bc_bound.prj
bc_bound.shp
bc_bound.shx
griz_source_ona.tif
grizz.inc.comb.tif
biophysical_cum_currmap.tif
biophysical_flow_potential.tif
biophysical_normalized_cum_currmap.tif
p_conflict_cum_currmap.tif
p_conflict_flow_potential.tif
p_conflict_normalized_cum_currmap.tif
p_conflict_cum_current_ona.tif
griz_inc_ONA.tif
ona_griz_inc_crop.tif
ona_griz_inc_crop.tif.aux.xml
p_conflict_diff_ona.tif
p_conflict_diff_ona.tif.aux.xml
bhs_ONA_crop.tif
