p_conflict_resistance_layer.tif
grizz_dens_soi.tif
BC CCS.dbf
BC CCS.prj
BC CCS.shp
BC CCS.shx
ONA Animal Product Farming.dbf
ONA Animal Product Farming.prj
ONA Animal Product Farming.shp
ONA Animal Product Farming.shx
ONA Ground Crop Production.dbf
ONA Ground Crop Production.prj
ONA Ground Crop Production.shp
ONA Ground Crop Production.shx
ona_bound.tif
Extent Grizzly Pop Units.shx
Extent Grizzly Pop Units.shp
Extent Grizzly Pop Units.prj
Extent Grizzly Pop Units.dbf
ona_PAs.dbf
ona_PAs.prj
ona_PAs.shp
ona_PAs.shx
animal_production_ona_raster.tif
dist2grizz_pop_ona.tif
dist2pa_ona.tif
ground_crop_ona_raster.tif
bhs_ona.tif
grizz_inc_ona.tif
griz_ext.tif
biophys_hii_resist.tif
bio_combined_hii_resist.tif
bio_combined_hmi_resist.tif
bio_combined_resist.tif
biophys_hmi_resist.tif
grizz_inc_comb.tif
hii_resist.tif
hmi_resist.tif
griz_source.tif
biophys_ona.tif
biophys_normalized_ona.tif
