grizz_dens.tif
SOI_10km.tif
biophys.ini
biophys_resist.tif
prob_bear_conflict.tif
Crop Farming WA.csv
Animal Farming WA.csv
GBPU_BC_polygon.cpg
GBPU_BC_polygon.dbf
GBPU_BC_polygon.prj
GBPU_BC_polygon.shp
GBPU_BC_polygon.shx
PADUS2_1Designation_StateWA.cpg
PADUS2_1Designation_StateWA.dbf
PADUS2_1Designation_StateWA.prj
PADUS2_1Designation_StateWA.sbn
PADUS2_1Designation_StateWA.sbx
PADUS2_1Designation_StateWA.shp
PADUS2_1Designation_StateWA.shp.xml
PADUS2_1Designation_StateWA.shx
PADUS2_1Proclamation_StateWA.cpg
PADUS2_1Proclamation_StateWA.dbf
PADUS2_1Proclamation_StateWA.prj
PADUS2_1Proclamation_StateWA.sbn
PADUS2_1Proclamation_StateWA.sbx
PADUS2_1Proclamation_StateWA.shp
PADUS2_1Proclamation_StateWA.shp.xml
PADUS2_1Proclamation_StateWA.shx
Parks_Combined2.cpg
Parks_Combined2.dbf
Parks_Combined2.prj
Parks_Combined2.sbn
Parks_Combined2.sbx
Parks_Combined2.shp
Parks_Combined2.shp.xml
Parks_Combined2.shx
farm type_32100403.csv
farm type_32100403_MetaData.csv
grizz.increase.map.fixed.tif
lccs000b16a_e.dbf
lccs000b16a_e.prj
lccs000b16a_e.shp
lccs000b16a_e.shx
tl_2016_53_cousub.cpg
tl_2016_53_cousub.dbf
tl_2016_53_cousub.prj
tl_2016_53_cousub.shp
tl_2016_53_cousub.shp.ea.iso.xml
tl_2016_53_cousub.shp.iso.xml
tl_2016_53_cousub.shp.xml
tl_2016_53_cousub.shx
griz.increase.wa.tif
ONA_TerritoryBound.shx
ONA_TerritoryBound.shp.xml
ONA_TerritoryBound.shp
ONA_TerritoryBound.sbx
ONA_TerritoryBound.sbn
ONA_TerritoryBound.prj
ONA_TerritoryBound.dbf
hii_n_amer
gHMv1_300m_2017_static
biophys_normalized_cum_currmap.tif
biophys_cum_currmap.tif
bio_comb_cum_currmap.tif
bio_comb_normalized_cum_currmap.tif
warp_df_complete.dbf
warp_df_complete.prj
warp_df_complete.shp
warp_df_complete.shx
post_co_offset.rds
biophysical_normalized_cum_currmap.tif
social_biophys_normalized_cum_currmap.tif
p_conflict_normalized_cum_currmap.tif
lpr_000b21a_e.dbf
lpr_000b21a_e.prj
lpr_000b21a_e.shp
lpr_000b21a_e.shx
lpr_000b21a_e.xml
soi_cum_currmap.tif
soi_biophys_normalized_cum_currmap.tif
lcd_000b16a_e.dbf
lcd_000b16a_e.prj
lcd_000b16a_e.shp
lcd_000b16a_e.shx
biophys_ona_cum_currmap.tif
biophysical_flow_potential.tif
social_biophys_ona_cum_currmap.tif
p_conflict_cum_currmap.tif
p_conflict_flow_potential.tif
social_bio_flow_potential.tif
